
  
  .icons{
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .social{
    margin: 4px;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    text-align: center;
    transition: all 0.3s;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social:hover{
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .social-icon{
      text-decoration: none;
      color: #e7e7e7;
    padding: 22px;
      font-size: 20px;
  }
  
  .social-icon:hover{
    animation: slide 1s ease;
  }
  
  .social>a{
      padding: 20px;
  }
  
  .social:nth-child(1){
      background: #3b5999;
  }
  
  .social:nth-child(2){
      background: #0077B5;
  }
  
  @keyframes slide{
    0%{
      transform: translateX(0);
    }
    50%{
      transform: translateX(20px);
      opacity: 0;
    }
    51%{
      transform: translateX(-20px);
      opacity: 0;
    }
    100%{
      transform: translateX(0);
    }
  }