@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 7px;
  position: absolute;
  z-index: 2;
}
::-webkit-scrollbar-track {
  background: rgb(29, 29, 29);
  padding-top: 60px;
}
::-webkit-scrollbar-thumb {
  background: rgba(1, 14, 51, 0.642);
  opacity: 10;
}

@font-face{
  font-family: 'Helvetica';
  src: url('./font/Helvetica-Bold.ttf');
}