#moving-text h1{
    display: inline-block;
    margin: 0px 20px;
    /* background-color: brown; */
}
.dot{
    border-radius: 50%;
    display: inline-block;
    margin: 0.9vw 0;
}
.con{
    /* background-color: rebeccapurple; */
    white-space: nowrap;
    display: inline-block;

}
#moving-text{
    white-space: nowrap;
    overflow-x: auto;
}
#moving-text::-webkit-scrollbar{
    display: none;
}
